.mobile-dropdown {
	display: none;
}

.mobile-dropdown__content {
	border-radius: 12px;
	border: 1px solid #373b3f;
	background: #1c2127;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
	width: 200px;
	overflow: hidden;
}
.mobile-dropdown__trigger {
	margin-left: 16px;
}

.mobile-dropdown__item {
	padding: 13px 16px;
	text-transform: capitalize;
	outline: none;
	cursor: pointer;
}

.mobile-dropdown__item[data-highlighted] {
	background-color: #353945;
	color: #fff;
}

@media (max-width: 756px) {
	.mobile-dropdown {
		display: block;
	}
}
