.orderbook {
	border: 1px solid #20252b;
	padding: 12px 8px;
	margin: 8px;
	border-radius: 8px;
	background-color: #20252b;
	position: relative;
	max-width: 250px;
	width: 100%;
	min-width: 245px;
}

.orderbook__header {
	color: #a7b1bc;
}

.orderbook__header,
.orderbook__item {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
	font-size: 12px;
	isolation: isolate;
	position: relative;
	padding: 3.5px 8px;
	margin-bottom: 6px;
}

.orderbook__item:last-of-type {
	margin-bottom: 0;
}

.orderbook__item-visiualizer {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	opacity: 0.15000000596046448;
}

.orderbook__price_range {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-block: 12px 14px;
}

.orderbook__switch {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.16);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	font-size: 12px;
	align-items: center;
	line-height: 1;
	padding: 2px;
	gap: 8px;
	text-align: center;
	margin-bottom: 12px;
}

.orderbook__switch--active {
	color: #fff;
	padding: 6px 8px;
	border-radius: 8px;
	background: #21262c;
	box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
		0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.orderbook__icons {
	display: flex;
	margin-bottom: 8px;
}
.orderbook__icons img {
	padding: 11px;
}
.orderbook__icons--active {
	background-color: #353945;
	border-radius: 4px;
}

.orderbook__dropdown {
	width: fit-content;
	margin-left: auto;
	font-size: 12px;
}

.orderbook__dropdown__trigger {
	background-color: #353945;
	border-radius: 4px;
	display: flex;
	align-items: center;
	padding: 4px 8px;
	gap: 10px;
}

.orderbook__dropdown__content {
	background-color: #353945;
	width: 50px;
	font-size: 12px;
	padding: 0px 8px;
	margin-top: 4px;
}

.orderbook__dropdown__item {
	margin-bottom: 5px;
	outline: none;
	cursor: pointer;
}
