:root {
	--background: #1c2127;
	--white: #fff;
	--grey: #a7b1bc;
	--bg-darkMode-card: #262932;
	--bg-darkAlt: #20252b;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	font-family: 'Satoshi', sans-serif;
	background-color: var(--background);
	color: var(--white);
	font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

button {
	background-color: unset;
	border: unset;
	color: inherit;
	outline: transparent;
}

.flipX {
	transform: scaleX(-1);
}
