:root {
	--background: #1c2127;
	--white: #fff;
	--grey: #a7b1bc;
	--bg-darkMode-card: #262932;
	--bg-darkAlt: #20252b;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	font-family: 'Satoshi', sans-serif;
	background-color: var(--background);
	color: var(--white);
	font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

button {
	background-color: unset;
	border: unset;
	color: inherit;
	outline: transparent;
}

.flipX {
	transform: scaleX(-1);
}

.capitalize {
	text-transform: capitalize;
}

.text-green {
	color: #25c26e;
}

.text-green-alt {
	color: #00c076;
}

.text-danger {
	color: #ff6838;
}

.text-white {
	color: #fff;
}

.text-gray {
	color: #a7b1bc;
}

.chart_container canvas {
	font-size: 10px;
	font-family: inherit;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/** @see https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
