.button {
	border-radius: 8px;
	color: #fff;
	padding: 8px;
	background-color: #2764ff;
	font-size: 14px;
	font-weight: 700;
}

.button.gradient {
	background: linear-gradient(
		90deg,
		#483beb 0%,
		#7847e1 47.92%,
		#dd568d 96.35%
	);
}
