.topinfo__coin_dropdown {
	width: 100%;
	max-width: 280px;
}

.topinfo__token {
	display: flex;
	gap: 10px;
	align-items: center;
}

.topinfo__coin_dropdown__modal {
	--dropdown-margin: 10px;
	width: calc(95vw - var(--dropdown-margin));
	max-width: 445px;
	margin-left: var(--dropdown-margin);
	padding: 8px 10px;
	border-radius: 8px;
	border: 1px solid var(--bg-darkMode-card);
	height: 458px;
	overflow-y: scroll;
	background-color: #1c2127;
	padding-top: 10px;
}

.topinfo__coin_dropdown__modal__filter {
	display: flex;
	gap: 12px;
	color: var(--grey);
	padding: 8px;
	border-top: 1px solid rgba(57, 64, 71, 0.5);
	border-bottom: 1px solid rgba(57, 64, 71, 0.5);
	margin-block: 16px;
}

.topinfo__coin_dropdown__modal__filter span {
	font-size: 14px;
	padding: 6px 12px;
	min-width: 40px;
}

.topinfo__coin_dropdown__modal__filter .active {
	background-color: #353945;
	border-radius: 20px;
}

.topinfo__coin_dropdown__trigger {
	display: flex;
	align-items: center;
	gap: 10px;
}

.topinfo__coin_dropdown__trigger span {
	font-size: 18px;
}

.tcdm-header {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
