.chart-container {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	margin: 8px;
	align-items: flex-start;
}

.chat-container--wrapped {
	width: 100%;
	max-width: calc(100% - 258px);
}

@media (max-width: 576px) {
	.chart-container {
		display: block;
	}

	.chart-container__buysell {
		display: none;
	}
}

@media (max-width: 576px) {
	.chat-container--wrapped {
		max-width: 100%;
	}
}
