.chart-order {
	display: flex;
	width: 100%;
	max-width: calc(100% - 258px);
	gap: 8px;
	min-height: 535px;
}

.chart_wrapper {
	width: 100%;
	background-color: #20252b;
	padding: 0 16px;
	border: 1px solid #262932;
	border-radius: 8px;
	max-width: calc(100% - 258px);
	min-height: 100%;
}

.chart-order .chart_wrapper__time {
	display: flex;
	color: #a7b1bc;
	padding: 16px 0;
	font-size: 14px;
	align-items: center;
	gap: 8px;
	line-height: 16px;
	overflow-x: auto;
}

.chart_wrapper__time--interval {
	padding: 6px 12px;
	cursor: pointer;
	text-transform: uppercase;
}

.chart_wrapper__time--interval-active {
	background-color: #555c63;
	border-radius: 20px;
	color: #fff;
}

.chart_wrapper__time--interval img {
	min-width: 20px;
}

.border-sides {
	border-left: 1px solid rgba(234, 240, 254, 0.1);
	border-right: 1px solid rgba(234, 240, 254, 0.1);
}

.chart_wrapper--fx {
	padding-inline: 10px;
	border-right: 1px solid rgba(234, 240, 254, 0.1);
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.chart_wrapper__arrows {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #393d41;
	gap: 8px;
	min-width: 50px;
}

.chart-order.show-lg {
	display: none;
}

.chart_container-chart1 {
	height: 300px;
}
.chart_container-chart2 {
	height: 150px;
}

@media (max-width: 992px) {
	.chart-order.hide-lg {
		display: none;
	}

	.chart-order.show-lg {
		display: flex;
		/* max-width: 100%; */
	}

	.chart_wrapper {
		min-height: 500px;
	}

	.chart_container-chart1 {
		height: 300px;
	}
	.chart_container-chart2 {
		height: 150px;
	}

	.chart_wrapper {
		max-width: 100%;
	}

	.chart-sm-a-tabs {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		font-size: 14px;
		gap: 0px;
		white-space: nowrap;
	}
	.chart-sm-a-tabs .tab_panel--active {
		font-weight: 700;
	}

	.chart--wrapper--sm {
		width: 100%;
		background-color: #20252b;
		margin-block: 4px 8px;
		padding: 10px 8px;
		border-radius: 8px;
	}

	.chart-tab-content > * {
		display: none;
	}

	.chart-tab-content .chart-tab-content--visible {
		display: block;
	}
}

@media (max-width: 576px) {
	.chart-order {
		max-width: 100%;
	}
}
